In [ ]:
'''
    Q1. What is a database? Differentiate between SQL and NoSQL databases.
'''

In [ ]:
DATABASE:-
A database is a collection of data that is organized and stored in a way that enables 
efficient retrieval and manipulation of the data.

SQL and NoSQL are two different types of database management systems 

SQL (Structured Query Language) databases are based on a relational model, where data is organized 
into tables with defined columns and relationships between them.

NoSQL (Not Only SQL) databases use a variety of non-relational models, including document-based, 
key-value, and graph-based models. NoSQL databases are designed to be highly scalable and flexible

In [ ]:
'''
    Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
'''

In [ ]:
DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and 
manage database structures and objects, such as tables, views, indexes, and constraints. DDL statements are used 
to create, modify, and delete database objects, and are often used in conjunction with other SQL statements to 
manage the data stored in the database.

some examples of DDL statements and their uses:

CREATE: The CREATE statement is used to create new database objects, such as tables, views, indexes, and constraints. 
For example,

    CREATE TABLE customers (
      id INT PRIMARY KEY,
      name VARCHAR(50),
      email VARCHAR(50)
      );
    
DROP: The DROP statement is used to delete existing database objects, such as tables, views, indexes, and constraints. 
For example, 

    DROP TABLE customers;
    
ALTER: The ALTER statement is used to modify existing database objects, such as tables, views, indexes, and constraints. 
For example,
    
    ALTER TABLE customers ADD COLUMN phone VARCHAR(20);
    
TRUNCATE: The TRUNCATE statement is used to delete all data from a table, while keeping its structure and indexes intact.
For example, 

    TRUNCATE TABLE customers;

In [ ]:
'''
    Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
'''

In [ ]:
DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to insert, 
update, and delete data in a database. DML statements are used to modify the content of a database, and are 
often used in conjunction with other SQL statements to manage the structure and organization of the database.

Some examples of DML statements and their uses:

INSERT: The INSERT statement is used to add new rows of data to a table.
For example,

    INSERT INTO customers (id, name, email) VALUES (1, 'Aditya', 'adi@gmail.com');

UPDATE: The UPDATE statement is used to modify existing rows of data in a table. 
For example, 

    UPDATE customers SET email = 'aditya@gmail.com' WHERE id = 1;

DELETE: The DELETE statement is used to remove rows of data from a table. 
For example, 

    DELETE FROM customers WHERE id = 1;

In [ ]:
'''
    Q4. What is DQL? Explain SELECT with an example.
'''

In [ ]:
DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. 
DQL statements are used to select data from one or more tables in a database, and can be used to perform complex queries to 
retrieve specific data.

The SELECT statement is used to retrieve data from a database. 

Some example of a SELECT statement----
    
    SELECT * FROM customers;
    SELECT name, email FROM customers;
    SELECT name, email FROM customers WHERE age > 18;

In [ ]:
'''
    Q5. Explain Primary Key and Foreign Key.
'''

In [ ]:
PRIMARY KEY:
    a primary key is a column or set of columns in a table that uniquely identifies each row in that table. 
    The primary key must be unique, meaning that no two rows can have the same values in the primary key column(s). 
    Additionally, the primary key column(s) cannot contain null values.
    
FOREIGN KEY:
    A foreign key is a column or set of columns in a table that refers to the primary key of another table. 
    It creates a relationship between two tables based on the values in the columns. 
    The foreign key column(s) in one table must have values that match the values of the primary key column(s) 
    in the other table. 
    This creates a link between the two tables and allows data to be retrieved from both tables at the same time.

In [ ]:
'''
    Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
'''

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="test"
)
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM test_table")
for row in mycursor.fetchall():
    print(row)
    
The cursor() method creates a cursor object that allows us to execute SQL statements and fetch results, 
while the execute() method is used to execute a SQL statement.

In [ ]:
'''
    Q7. Give the order of execution of SQL clauses in an SQL query.
'''

In [ ]:
The order of execution of SQL clauses in an SQL query is as follows:

FROM - Specifies the table to retrieve data from.
WHERE - Filters the rows to be retrieved based on the specified conditions.
GROUP BY - Groups the rows based on one or more columns.
HAVING - Filters the groups based on the specified conditions.
SELECT - Retrieves the specified columns for the rows that satisfy the conditions.
ORDER BY - Sorts the rows based on the specified columns and sort order.